.App {

  height: 100vh;
}
img {
  width: 100px;
  height: 100px;
}
.card {
  width: 160px;
  height: 400px;
  border: 2px solid;
background-color: rgba(221,148,41,0.51);
  padding: 5px;
}
.game-start-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.container {
  height: 100%;
text-align: center;
}
button {
  margin: 20px;
}
.grow1 {
  flex-grow: 1;
}
.card-wp {
  width: 150px;
  height: 300px;
  border: 2px solid;
  margin: 2px;
  padding: 5px;
}
.inventory {
  width: 650px;
  height: 100%;
  margin: 5px;
  border: 1px solid;
  flex-wrap: wrap;
  display: flex;
}

.column {
  flex-direction: column;
}
.center {
  justify-content: center;
}

.s-around {
  justify-content: space-around;
}
.inventory {
  background-color: chocolate;
}
.toolbar {
  padding: 20px;
  background-color: grey;
}
.wrap {
  flex-wrap: wrap;
}
.a-center {
  align-items: center;
}
.item {
  height: 100px;
  width: 100px;
  margin: 5px;
}
.item img {
  height: 100%;
  width: 100%;
}